# Fix all FIXIT comments, and rename this file to wrangler.toml

name = "tcb-flickr-polling"
main = "src/index.ts"
compatibility_date = "2023-10-30"
node_compat = true

kv_namespaces = [
    { binding = "TCB_KV", id = "your_kv_id_here" }  # FIXIT: Use your KV's id
]

[vars]
DOMAIN = "your.domain.com"  # FIXIT: Use your domain

[[d1_databases]]
binding = "TCB_DB"
database_name = "tcb"  # FIXIT: Use your D1 database's name
database_id = "your_d1_id_here"  # FIXIT: Use your D1 database's id

[[durable_objects.bindings]]
name = "WORKER_RUNNING_STATUS"
class_name = "WorkerRunningStatus"

[[migrations]]
tag = "v1"  # Should be unique for each entry
new_classes = ["WorkerRunningStatus"]

[triggers]
crons = ["* * * * *"] # run every minute

[env.production]
workers_dev = false
